<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" style="background-color: red;"></a>
      <a class="list-group-item list-group-item-action" style="background-color: orange;"></a>
      <a class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
      <a class="list-group-item list-group-item-action" style="background-color: green;"></a>
      <a class="list-group-item list-group-item-action" style="background-color: teal;"></a>
      <a class="list-group-item list-group-item-action" style="background-color: blue;"></a>
      <a class="list-group-item list-group-item-action" style="background-color: purple;"></a>
    </div>
  </div>
</div>

